.main-nav{
  padding: 2rem 0;
}

.input-wrapper{
  width: 25rem;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.edit-input{
  width: 100%;
  border: none;
  outline: none;
  box-shadow: 1px 1px 10px 0 #007bff, -1px -1px 10px 0 #007bff;
}

.header{
  &:hover{
    cursor: pointer;
  }
}